<h1 class="text-center mt-4">Listing all Constituencies</h1>

<div class="flickr_pagination">
  <%= will_paginate @constituency, :container => false %>
</div>
<%= render 'constituency' %>
<div class="flickr_pagination mb-4">
  <%= will_paginate @constituency, :container => false %>
</div>
